{
	"printWidth": 120,
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"quoteProps": "as-needed",
	"trailingComma": "all",
	"bracketSpacing": true,
	"bracketSameLine": true,
	"jsxBracketSameLine": true,
	"arrowParens": "always",
	"endOfLine": "lf",
	"overrides": [
		{
			"files": "*.json",
			"options": {
				"tabWidth": 2,
				"useTabs": false
			}
		},
		{
			"files": "*.md",
			"options": {
				"tabWidth": 1,
				"useTabs": false
			}
		}
	]
}
